body {
  background: #7a9c9b;
}

h1 {
  color: black;
  font-family: sans-serif;
  text-align: center;
}

h2 {
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: black;
  font-family: sans-serif;
  text-align: center;
}

img {
  border-radius: 40px;
  display: block;
  margin: auto;
  padding: 20px;
  width: 300px;
}

.button {
  color: #ffffff;
  border: 0.1em solid #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font-family: sans-serif;
  font-weight: 300;
  padding: 0.35em 1.2em;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
  width: 125px;
}
a.button:hover {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

/*nav {
  background: #fae3d9;
  font-size: 20px;
  text-align: center;
  margin: 20px 0 0;
  padding: 10px 0;
}*/

nav {
  background-color: darkgrey;
  width: 100%;
  text-align: center;
}
nav a {
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0 40px;
  text-transform: uppercase;
  text-decoration: none;
}
